body {
    font-size: 16px;
    font-family: "Courier New", sans-serif;
    background-color: #fff
}

main {
    padding-top: 60px;
    margin-left: 15px
}

main h1 {
    font-size: 80px;
    line-height: 80px;
    margin: 0;
}

main a {
    text-decoration: none;
}

main a:hover, main a:focus {
    color: #798485;
}

main {
    position: relative;
    padding: 15px
}

#social ul {
    padding-left: 5px;
    display: inline
}

#social li {
    display: inline;
    margin-left: 10px
}

#social {
    margin: 30px 0 20px 0
}

#social .icons a {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 0 5px 0 0;
    text-indent: -9999px
}

#social .icons a:hover, #social .icons a:focus {
    background-position: 0 -34px
}

#social .linkedin {
    background: url(../images/social-icons/linkedin.png)
}

#social .facebook {
    background: url(../images/social-icons/facebook.png)
}

#social .twitter {
    background: url(../images/social-icons/twitter.png)
}

#social .tumblr {
    background: url(../images/social-icons/tumblr.png)
}

#social .github {
    background: url(../images/social-icons/github.png)
}

#social .email {
    background: url(../images/social-icons/email.png)
}
