
body {
	color: #fff;
	font-size: 16px;
	font-family: "Lucida Grande", sans-serif;
}
.bg_photo {
	background: url(../images/baylee_bb.jpg) no-repeat center center fixed;
	background-size: cover;	
}

#header {
	margin: 15px 15px 0 15px;
}
#header nav {
	width: 50%;
	float: left;
}
#header nav a {
	padding-right: 5px;
	text-decoration: none;
	color: #418ea6;
	font-family: Nunito, sans-serif;
	font-size: 18px;
}
#header nav a:hover {
	color: #474747;
}
#header #social {
	float:right;
}
#container {
	width: 33%;
	overflow: hidden;
	position: relative;
	margin-left: 15px;
}

.transparency {
	background: #000;
	opacity: 0.8;
	position: absolute;
	height: 100%;
	width: 100%;
}

.content{
	position: relative;
	padding: 15px;
}

h1 {
	font-family: "Courier New", sans-serif;
	font-size: 80px;
	margin: 0px;
}

h2 {
	background: #660000;
	padding: 5px;
	color: #fff;
	border-radius: 5px;
}


a {
	color: #fff;
}

#social {
	float: right;
	margin: 10px;
}
#social .icons a {
	display: inline-block;
	height: 24px;
	width: 24px;
	margin: 0 5px 0 0;
	text-indent:-9999px;
}

#social .linkedin {
	background: url(../images/social-icons/linkedin.png);
}
#social .facebook {
	background: url(../images/social-icons/facebook.png);
}
#social .twitter {
	background: url(../images/social-icons/twitter.png);
}
#social .tumblr {
	background: url(../images/social-icons/tumblr.png);
}
#social .github {
	background: url(../images/social-icons/github.png);
}
#social .email {
	background: url(../images/social-icons/email.png);
}

#social .icons a:hover {
	background-position: 0 -34px;
}

.group:before, .group:after { 
	content: "";
	display: table; 
}
.group:after {
	clear: both; 
}
.group {
	zoom: 1; /* IE6&7 */ 
}